---
import ContainerSection from "@components/ui/ContainerSection.astro";
import SectionHeading from "@components/ui/SectionHeading.astro";
import Carousel from "@components/ui/Carousel.astro";

import Button from "@components/ui/Button.astro";
import Icon from "@components/ui/Icon.astro";
import { APP_URLS } from "@/utils/navigation";
import { parseSimpleMarkdown } from '@/utils/markdown';

const cardContent = [
  { icon: "user", title: "Paso", description: "Inicia sesión con tu cuenta de El Gordito" },
  { icon: "link-diagonal", title: "Paso", description: 'Dirígete al apartado "Libro de Reclamaciones"' },
  { icon: "list", title: "Paso", description: "Rellena el formulario con los datos requeridos y envía" },
  { icon: "users", title: "Paso", description: "Dentro de 1-2 días hábiles nuestro equipo se contactará contigo" },
] as const;
---

<ContainerSection
  ariaLabelledby="header-reclamation"
  bgColor="bg-none"
  classContainer="bg-linear-to-r from-primary-400 to-primary-600 px-6 py-6 lg:px-12 rounded-2xl flex flex-col items-center"
>
  <SectionHeading
    id="header-reclamation"
    title="¿Buscas nuestro Libro de Reclamaciones?"
    align="center"
    class="text-neutral-100"
    textColor="text-neutral-100"
    description="En El Gordito, entendemos tu preocupación, por ello te brindamos un paso a paso de cómo agendar tu reclamo ante nuestro servicio."
  />

  <div class="mt-6 w-full" role="region" aria-label="Pasos para el libro de reclamaciones">
    <Carousel data={cardContent} visibleDesktop={4}>
      {cardContent.map((card, index) => (
        <div class="px-2"> {/** Espaciado lateral para el carrusel */}
          <article 
            class="max-w-75 mx-auto p-4 bg-neutral-50 rounded-xl flex flex-col items-center gap-2 text-center border-b-6 border-secondary-300 transition-all duration-300 ease-in-out hover:scale-105"
          >
            {card.icon && (
              <span class="size-14 bg-primary-500 text-neutral-50 rounded-full p-2">
                <Icon name={card.icon} class="size-full"/>
              </span>
            )}

            <h3 class="text-xl lg:text-2xl text-primary-600 font-bold">
              {`${card.title} ${index + 1}`}
            </h3>

            <p 
              class="text-sm mb-0 text-neutral-600" 
              set:html={parseSimpleMarkdown(card.description)} 
            />
          </article>
        </div>
      ))}
    </Carousel>
  </div>

  <Button variant="outline" class="mt-8 w-fit" href={APP_URLS.login}>
    <Icon name="login" aria-hidden="true" />
    Iniciar Sesión
  </Button>
</ContainerSection>